.conteudo__botao input { 
    background: rgb(var(--blue-300-rgb), 0.08);
    border: none;
    border-radius: .5rem;
    color: var(--white);
    font: var(--inter-body);
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.conteudo__botao input:hover {
    background: rgba(var(--blue-300-rgb), 0.16);
} 

.conteudo__botao input:active {
    background: rgba(var(--blue-300-rgb), 0.16);
    border: 4px solid rgba(var(--blue-300-rgb), 0.24);
    padding: calc(1rem - 4px);
}

.conteudo__botao input:focus {
    background: rgba(var(--blue-300-rgb), 0.24);
}