.projeto__campo textarea {
    min-height: 4rem;
    resize: vertical;
}

.projeto__titulo {
    color: var(--white);
    font: var(--inter-sidebar-title);
    letter-spacing: .4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.projeto__campo {
    background: rgba(255,255,255, 0.16);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font: var(--inter-body);
    margin-bottom: 1rem;
    padding: 1rem;
    width: calc(100% - 2rem);
    outline: none;
}

.projeto__campo::placeholder {
    color: rgba(255,255,255, 0.64);
}

.projeto__campo:hover {
    background: rgba(255,255,255, 0.24);
}

.projeto__campo:last-child {
    margin-bottom: 0px;
}