@media screen and (max-width: 375px) {    
    .cabecalho__lupa {
        background: none;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        height: 48px;
        justify-content: center;
        width: 48px;
    }

    .cabecalho__lupa:hover {
        background: rgba(var(--blue-300-rgb), 0.08);
    }

    .cabecalho__lupa:active {
        background: rgba(var(--blue-300-rgb), 0.16);
    }
}