.principal__comunidade {
    flex-wrap: wrap;
}

.comunidade__card {
    height: 464px;
    width: 100%;
    max-width: 520px;
    margin: auto;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.16);
    border-radius: .5rem;
}
/*CAIXA DO CODIGO*/
.card__codigo {
    background: var(--blue-100);
    height: 288px;
    border-radius: .5rem;
    padding: 1.5rem;
}

.codigo__caixa {
    display: flex;
    flex-direction: column;
    
    background: var(--dark-gray);
    height: calc(100% - 1rem);
    border-radius: .5rem;
    padding: .5rem;
}
.caixa__circulo {
    display: flex;
}
.caixa__circulo--cor {
    border-radius: 100%;
    height: 12px;
    margin-right: .5rem;
    margin-bottom: 1rem;
    width: 12px;
}

.caixa__circulo--cor:nth-child(1) {
    background: var(--mac-red);
}

.caixa__circulo--cor:nth-child(2) {
    background: var(--mac-yellow);
}

.caixa__circulo--cor:nth-child(3) {
    background: var(--mac-green);
}
.caixa__texto {
    flex-grow: 1;
    border-radius: .5rem;
    color: var(--white);
}

/*INFORMACOES*/
.card__info {
    padding: 1.5rem;
}

.info__titulo {
    font: var(--inter-title);
    margin-bottom: .5rem;
    color: var(--white);
}

.info__discricao {
    font: var(--inter-body);
    color: var(--white);
}

/*STATUS*/
.card__rodape {
    display: flex;
    padding: 0 1.5rem 1.5rem 1.5rem;
    color: var(--white);
    font: var(--inter-body);
    justify-content: space-between;
}
.card__rodape img {
    margin-right: .5rem;
}
.rodope__status {
    display: flex;
    
}
.status__comentario, .status__curtida, .rodape__perfil{
    display: flex;
    align-items: center;
    margin: .5rem;
}


.rodape__perfil img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: .5rem;
}